

body{
 
    

    background: url('re.gif')no-repeat center center fixed;
    background-size:cover;
    
}
 
h1
{
    background-color: black;
}
h5{
    background-color: black;  
    position: fixed;
    bottom: 0;
}

@media (min-device-width:600px) {
    img[data-src-600px] {
        content: attr(data-src-600px, url);
    }
}

@media (min-device-width:800px) {
    img[data-src-800px] {
        content: attr(data-src-800px, url);
    }
}